body {
    
    
   

    
    
    
    
}
.main{
display: flex;
    justify-content: space-between;
    font-size: 20px;
    
}

   
.right {
    text-align: right;
}
.left a, .right a 

{ 
   
    display: inline-block;
    position: relative; }


.left a {
    width: 300px; 
    height: 10px; 
    margin-left: 400px;
}
.right a { 
    margin-right: 400px;
    width: 500px;
    height: 10px;
}
.left p{
    width: 300px; 
    height: 10px; 
    margin-left: 200px;
}
.right p{
    width: 750px; 
    height: 10px; 
    margin-right: 200px;
}