body {
    
   background: url(pics/background.jpg) fixed center / cover;  

    
}
.main{
display: flex;
    justify-content: space-between;
    font-size: 20px;
      
    
}

.left{
    text-align: right;
} 
.right {
    text-align: left;
}
.left a, .right a 

{ 
   
    display: inline-block;
    position: relative; }


.left a {
    width: 300px; 
    height: 10px; 
    margin-left: auto;
}
.right a { 
    margin-right: 400px;
    width: 300px;
    height: 10px;
}
.left p{
    width: 300px; 
    height: 10px; 
    margin-left: 200px;
}
.right p{
    width: 750px; 
    height: 10px; 
    margin-right: 200px;
}

.page img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.linka{
    text-align: center;
}
.mainpattern{
    text-align: center;
    
}
h2{
    font-size: 25px;
}
.page table{
    margin: 0 auto;
    text-align: center;
    border: 1px solid blue;
    border-collapse: separate;
    border-spacing: 10px;
    border-color: black;
    
}