body {
    
   background: url(../pics/background.jpg) fixed center / cover;  

    
}
.MainFix{
    margin: 10px;
    font-size: 14px;
}
.subttitle{
padding-left: 500px;
   text-align:center;
    
    font-size: 14px;
}
.subtitle{
    margin: 10px;
    text-align: center;
    font-size: 14px;
}
.pictur{
    text-align: center;
}
.table{
    
    text-align: center;
    margin: 20px;
    
    
    
}
.linka{
    text-align: center;
}